* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    outline: none;
    border: 0;
    background: transparent;
    border-bottom: 1px solid rgb(23, 68, 56);
    font-size: 14px;
    padding: 8px 12px 5px;
}

.some_input{
    box-shadow: inset 0 0 0 50px #b3b3b3;
    -webkit-box-shadow: inset 0 0 0 50px #b3b3b3;
    -webkit-text-fill-color: rgb(23, 68, 56);
}
            
h3 {
    font-size: 18px;
    font-weight: 400;
}

.subtitle {
    font-weight: 700;
    padding: 20px 0 0 0;
}

.btn {
    cursor: default;
    user-select: none;
    pointer-events: none;
    color: #b3b3b3;
    background-color: #949393;
    border: 0;
    border-radius: 6px;
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    padding: 10px 0;
}

.active {
    cursor: pointer;
    pointer-events: all;
    background-color: #66ff00;
    color: #fff;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf'),
    url('../fonts/Montserrat-Regular.woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.ttf'),
    url('../fonts/Montserrat-Medium.woff');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.ttf'),
    url('../fonts/Montserrat-Bold.woff');
    font-style: normal;
    font-weight: 700;
}